.env
.env.*
!.env.docker.example

config/.config.php
config/appprofile.php
config/*.bak
config/*.bak.*

storage/framework/smarty/cache/*
storage/framework/smarty/compile/*
storage/framework/twig/cache/*

vendor/
.git/
node_modules/
npm-debug.log
docker-compose.override.yml
