* text=auto

*.sh text eol=lf
.dockerignore text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.env.docker.example text eol=lf
Dockerfile text eol=lf
docker-compose.yml text eol=lf
docker/**/*.conf text eol=lf
docker/**/*.ini text eol=lf
docker/caddy/Caddyfile text eol=lf
docker/cron/scheduler text eol=lf
