{
	servers {
		trusted_proxies static {$CADDY_TRUSTED_PROXIES:private_ranges}
		client_ip_headers X-Forwarded-For X-Real-IP
	}
}

{$CADDY_SITE_ADDRESS} {
	encode zstd gzip

	reverse_proxy nginx:80 {
		header_up X-Forwarded-For {client_ip}
		header_up X-Real-IP {client_ip}
	}
}
